/* Estilizando letras */

#corpo{
    border: 1px black solid;
    display: flex;
    /* flex-direction: column; */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: center;
}

.menu{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    background-color: white;
    width: 100px;
    top:0px;
    border: 2px solid red;

}
.resto{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.imagem{
    background-color: #EE9B00;
    flex-direction: column;
    border: 2px green solid;
}

.titulos{
    font-family: 'Roboto Slab', serif;
    
    
}

.escritos{
    font-family: 'Mulish', sans-serif;
}


/* Estilizando imagens */

.minha-imagem{
    border: 5px solid black;
    border-radius: 50%;
}

.fundo{
    background-color: #E9D8A6;
}


.button{
    background-color: #EE9B00;
    color: #E9D8A6;
    text-decoration: none;
    line-height: 55px;
    padding: 10px;
}
aside ul, 
aside li {
    list-style:none;
}



nav .active li,
nav li:hover{
    background-color: blue;
}
